<div class="user-container">
  <div class="guide">
    <span (click)="goTo('prepaid')" class="guideIcon"><i class="anticon anticon-left"></i></span>
    优水到家充值及使用规则
  </div>
  <div class="container">
    <p>1、优水到家的用户可以通过支付宝、微信两种支付方式，按照提示给自己账户余额充值。充值后，用户可以在账户余额可以查询到。</p>
    <p>2、如果有参与优水到家的充值金额赠送活动的，赠送的金额随同充值金额，同时充到用户的账户余额，具有同等购买功效。</p>
    <p>3、充值以及赠送的金额在余额可以查询，可以购买优水到家自动零售设备以及优水商城所有商品。</p>
    <p>4、用户充值成功后，所有的款项只能用于优水产品的购买，不给于退款。</p>
    <p>5、用户余额不足，不能打开优水的自动零售设备的门。请及时充值，也可以授权微信或支付宝的免密支付才可以继续开门提货购买。</p>
    <p>6、以上内容最终解释权归广州优水到家工程网络科技有限公司。</p>
  </div>
</div>


