<div class="user-container">
  <div class="guide">
    <span (click)="goTo()" class="guideIcon"><i class="anticon anticon-left"></i></span>
    常见故障类型
  </div>
  <div class="content">
    <p class="textA">一、窗门故障</p>
    <p class="textB">1.无法开门</p>
    <p class="textC">（1）提示已开门却并未开门</p>
    <p class="textC">（2）网络延迟</p>
    <p class="textC">（3）系统繁忙</p>
    <p class="textC">（4）提示该货道已关闭</p>
    <p class="textB">2.无法关门</p>
    <p class="textC">尝试用力按压窗门中间，锁扣位置。如仍然无法关上请拍下照片及记录设备编号，联系优水到家客服</p>
    <p class="textA">二、支付问题</p>
    <p class="textB">1.如对扣款金额有疑问，可以按照下列规则进行比对</p>
    <p class="textC">（1）扣水时按新用户首桶3折优惠券、提水券、各类优惠券进行自动抵扣</p>
    <p class="textC">（2）优惠券按优惠力度最大的进行优先抵扣</p>
    <p class="textC">与优惠券比对后对扣款金额仍有疑问，可通过故障申报进行反馈，优水将有专人客服为您查询</p>
    <p class="textB">2.取水后未扣款</p>
    <p class="textC">未支付的订单将会在下次购水时提示支付，完成支付后才能继续购水</p>
    <p class="textB">3.未取水先付款</p>
    <p class="textC">该次付款为您上次取水未支付的订单，您可以通过您的历史订单和扣款记录进行核对。完成支付后才能继续购水（可查看上一条）</p>
    <p class="textA">三、充值问题</p>
    <p class="textB">1.充值后仍然提示余额不足</p>
    <p class="textC">需要充值余额大于商品原价才能成功开门</p>
    <p class="textB">2.充值金额错误</p>
    <p class="textC">（1）充值后实际余额与应得余额不符时，请联系优水客服 </p>
    <p class="textC">（2）由于用户自身操作失误，导致的充值金额错误，原则上不予退款，最终解析权归广州优水到家工程网络科技有限公司所有</p>
  </div>
</div>

