<div id="user-container">
  <div class="guide">
    <span (click)="goTo()" class="guideIcon"><i class="anticon anticon-left"></i></span>
    砍价免费拿
  </div>
  <div class="bargain-list">
    <div class="bargain-item">
      <img src="../../../../assets/main/banner1.png" alt="" width="85px" height="85px">
      <article style="margin-left: 5px">
        <p>【冬季暖心电器】热水机</p>
        <p style="margin-top: 15px"> 21:41:46后结束</p>
        <p style="margin-top: 20px"> 砍价后￥0<span style="color: red">&nbsp;&nbsp;&nbsp;24525万人已免费拿</span></p>
      </article>
    </div>
    <div style="background: white">
      <div style="text-align: center">
        <p style="margin-top: 20px"> 已砍<span style="color: red">1</span>元，还差<span style="color: red">20</span>元</p>
        <p style="color: red">再邀请18人帮砍价，可以0元购</p>
      </div>
      <button class="bargain-details-button" (click)="to()">喊朋友砍一刀</button>
    </div>
  </div>
  <div class="friend">
    <p style="text-align: center;border-bottom: 1px solid #a6a5a5">砍价帮</p>
    <div class="bargain-item">
       <img style="border-radius: 50%;" src="../../../../assets/main/banner1.png" alt="" width="45px" height="45px">
       <article style="margin-left: 5px">
         <p>小霸王</p>
         <p style="margin-top: 15px"> 拔刀相助，在所不辞</p>
       </article>
       <p class="cut">砍掉10元</p>
     </div>
    <div class="bargain-item">
      <img style="border-radius: 50%;" src="../../../../assets/main/banner1.png" alt="" width="45px" height="45px">
      <article style="margin-left: 5px">
        <p>小霸王</p>
        <p style="margin-top: 15px"> 拔刀相助，在所不辞</p>
      </article>
      <p class="cut">砍掉10元</p>
    </div>
    <div class="bargain-item">
      <img style="border-radius: 50%;" src="../../../../assets/main/banner1.png" alt="" width="45px" height="45px">
      <article style="margin-left: 5px">
        <p>小霸王</p>
        <p style="margin-top: 15px"> 拔刀相助，在所不辞</p>
      </article>
      <p class="cut">砍掉10元</p>
    </div>
    <div class="bargain-item">
      <img style="border-radius: 50%;" src="../../../../assets/main/banner1.png" alt="" width="45px" height="45px">
      <article style="margin-left: 5px">
        <p>小霸王</p>
        <p style="margin-top: 15px"> 拔刀相助，在所不辞</p>
      </article>
      <p class="cut">砍掉10元</p>
    </div>
    <div class="bargain-item">
      <img style="border-radius: 50%;" src="../../../../assets/main/banner1.png" alt="" width="45px" height="45px">
      <article style="margin-left: 5px">
        <p>小霸王</p>
        <p style="margin-top: 15px"> 拔刀相助，在所不辞</p>
      </article>
      <p class="cut">砍掉10元</p>
    </div>
    <div class="bargain-item">
      <img style="border-radius: 50%;" src="../../../../assets/main/banner1.png" alt="" width="45px" height="45px">
      <article style="margin-left: 5px">
        <p>小霸王</p>
        <p style="margin-top: 15px"> 拔刀相助，在所不辞</p>
      </article>
      <p class="cut">砍掉10元</p>
    </div>
    <div class="bargain-item">
      <img style="border-radius: 50%;" src="../../../../assets/main/banner1.png" alt="" width="45px" height="45px">
      <article style="margin-left: 5px">
        <p>小霸王</p>
        <p style="margin-top: 15px"> 拔刀相助，在所不辞</p>
      </article>
      <p class="cut">砍掉10元</p>
    </div>
    <div class="footer">
      已经到底~
    </div>
  </div>
</div>


