<div class="user-container">
  <div class="guide">
    <span (click)="goTo()" class="guideIcon"><i class="anticon anticon-left"></i></span>
    优惠券
  </div>
  <ul class="menu-top" nz-menu [nzMode]="'horizontal'">
    <li (click)="choose(1)" class="menu-li" nz-menu-item [nzSelected]="true">未使用</li>
    <li (click)="choose(2)" class="menu-li" nz-menu-item>已使用</li>
    <li (click)="choose(3)" class="menu-li" nz-menu-item>已过期</li>
  </ul>
  <div *ngIf="empty" class="none">
    <img style="width: 35%;margin-bottom: 5px" src="../../../../../assets/icon/wrong.png" alt="">
    <h4>空空如也~</h4>
  </div>
  <!--未使用-->
  <div *ngIf="effective" class="layout">
    <div class="couponOut" [hidden]="!effectiveList" *ngFor="let item of effectiveList">
      <!--满减-->
      <div class="couponImg couponUrlA" *ngIf="item.type === 1">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">满{{item.money}}减{{item.deductionMoney}}</span>
        </div>
      </div>
      <!--固定立减-->
      <div class="couponImg couponUrlB" *ngIf="item.type === 2">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">立减券</span>
        </div>
      </div>
      <!--折扣-->
      <div class="couponImg couponUrlC" *ngIf="item.type === 3">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">折扣券</span>
        </div>
      </div>
      <!--固定折扣-->
      <div class="couponImg couponUrlD" *ngIf="item.type === 4">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">固定折扣券</span>
          <!--最大优惠多少钱-->
        </div>
      </div>
      <!---->
      <div class="coupon_cont">
        <div class="coupon_name">
          <!--机器-->
          <img src="../../../../../assets/icon/couponMa.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 1">
          <img src="../../../../../assets/icon/couponMb.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 2">
          <img src="../../../../../assets/icon/couponMc.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 3">
          <img src="../../../../../assets/icon/couponMd.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 4">
          <!--商城-->
          <img src="../../../../../assets/icon/couponSa.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 1">
          <img src="../../../../../assets/icon/couponSb.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 2">
          <img src="../../../../../assets/icon/couponSc.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 3">
          <img src="../../../../../assets/icon/couponSd.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 4">
          {{item.name}}
          <span style="position: absolute;right: -16px;top: 13px;color: #333333">&times;{{item.quantity}}</span>
        </div>
        <span class="coupon_time">{{toDate(item.startTime)}}-{{toDate(item.endTime)}}</span>
        <span style="display: block">
          <span *ngIf="item.type === 4">最大优惠{{item.maximumDiscount}}元,</span>
          <span *ngIf="turnToBind(item.bindProduct)">仅限特殊商品使用</span>
          <span *ngIf="!turnToBind(item.bindProduct)">全品类商品使用</span>
        </span>
      </div>
    </div>
    <div class="couponOut" [hidden]="!effectiveList" *ngFor="let item of effectiveList">
      <!--满减-->
      <div class="couponImg couponUrlA" *ngIf="item.type === 1">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">满{{item.money}}减{{item.deductionMoney}}</span>
        </div>
      </div>
      <!--固定立减-->
      <div class="couponImg couponUrlB" *ngIf="item.type === 2">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">立减券</span>
        </div>
      </div>
      <!--折扣-->
      <div class="couponImg couponUrlC" *ngIf="item.type === 3">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">折扣券</span>
        </div>
      </div>
      <!--固定折扣-->
      <div class="couponImg couponUrlD" *ngIf="item.type === 4">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">固定折扣券</span>
          <!--最大优惠多少钱-->
        </div>
      </div>
      <!---->
      <div class="coupon_cont">
        <div class="coupon_name">
          <!--机器-->
          <img src="../../../../../assets/icon/couponMa.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 1">
          <img src="../../../../../assets/icon/couponMb.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 2">
          <img src="../../../../../assets/icon/couponMc.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 3">
          <img src="../../../../../assets/icon/couponMd.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 4">
          <!--商城-->
          <img src="../../../../../assets/icon/couponSa.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 1">
          <img src="../../../../../assets/icon/couponSb.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 2">
          <img src="../../../../../assets/icon/couponSc.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 3">
          <img src="../../../../../assets/icon/couponSd.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 4">
          {{item.name}}
          <span style="position: absolute;right: -16px;top: 13px;color: #333333">&times;{{item.quantity}}</span>
        </div>
        <span class="coupon_time">{{toDate(item.startTime)}}-{{toDate(item.endTime)}}</span>
        <span style="display: block">
          <span *ngIf="item.type === 4">最大优惠{{item.maximumDiscount}}元,</span>
          <span *ngIf="turnToBind(item.bindProduct)">仅限特殊商品使用</span>
          <span *ngIf="!turnToBind(item.bindProduct)">全品类商品使用</span>
        </span>
      </div>
    </div>
    <div class="couponOut" [hidden]="!effectiveList" *ngFor="let item of effectiveList">
      <!--满减-->
      <div class="couponImg couponUrlA" *ngIf="item.type === 1">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">满{{item.money}}减{{item.deductionMoney}}</span>
        </div>
      </div>
      <!--固定立减-->
      <div class="couponImg couponUrlB" *ngIf="item.type === 2">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">立减券</span>
        </div>
      </div>
      <!--折扣-->
      <div class="couponImg couponUrlC" *ngIf="item.type === 3">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">折扣券</span>
        </div>
      </div>
      <!--固定折扣-->
      <div class="couponImg couponUrlD" *ngIf="item.type === 4">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">固定折扣券</span>
          <!--最大优惠多少钱-->
        </div>
      </div>
      <!---->
      <div class="coupon_cont">
        <div class="coupon_name">
          <!--机器-->
          <img src="../../../../../assets/icon/couponMa.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 1">
          <img src="../../../../../assets/icon/couponMb.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 2">
          <img src="../../../../../assets/icon/couponMc.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 3">
          <img src="../../../../../assets/icon/couponMd.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 4">
          <!--商城-->
          <img src="../../../../../assets/icon/couponSa.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 1">
          <img src="../../../../../assets/icon/couponSb.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 2">
          <img src="../../../../../assets/icon/couponSc.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 3">
          <img src="../../../../../assets/icon/couponSd.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 4">
          {{item.name}}
          <span style="position: absolute;right: -16px;top: 13px;color: #333333">&times;{{item.quantity}}</span>
        </div>
        <span class="coupon_time">{{toDate(item.startTime)}}-{{toDate(item.endTime)}}</span>
        <span style="display: block">
          <span *ngIf="item.type === 4">最大优惠{{item.maximumDiscount}}元,</span>
          <span *ngIf="turnToBind(item.bindProduct)">仅限特殊商品使用</span>
          <span *ngIf="!turnToBind(item.bindProduct)">全品类商品使用</span>
        </span>
      </div>
    </div>
    <div class="couponOut" [hidden]="!effectiveList" *ngFor="let item of effectiveList">
      <!--满减-->
      <div class="couponImg couponUrlA" *ngIf="item.type === 1">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">满{{item.money}}减{{item.deductionMoney}}</span>
        </div>
      </div>
      <!--固定立减-->
      <div class="couponImg couponUrlB" *ngIf="item.type === 2">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">立减券</span>
        </div>
      </div>
      <!--折扣-->
      <div class="couponImg couponUrlC" *ngIf="item.type === 3">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">折扣券</span>
        </div>
      </div>
      <!--固定折扣-->
      <div class="couponImg couponUrlD" *ngIf="item.type === 4">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">固定折扣券</span>
          <!--最大优惠多少钱-->
        </div>
      </div>
      <!---->
      <div class="coupon_cont">
        <div class="coupon_name">
          <!--机器-->
          <img src="../../../../../assets/icon/couponMa.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 1">
          <img src="../../../../../assets/icon/couponMb.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 2">
          <img src="../../../../../assets/icon/couponMc.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 3">
          <img src="../../../../../assets/icon/couponMd.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 4">
          <!--商城-->
          <img src="../../../../../assets/icon/couponSa.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 1">
          <img src="../../../../../assets/icon/couponSb.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 2">
          <img src="../../../../../assets/icon/couponSc.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 3">
          <img src="../../../../../assets/icon/couponSd.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 4">
          {{item.name}}
          <span style="position: absolute;right: -16px;top: 13px;color: #333333">&times;{{item.quantity}}</span>
        </div>
        <span class="coupon_time">{{toDate(item.startTime)}}-{{toDate(item.endTime)}}</span>
        <span style="display: block">
          <span *ngIf="item.type === 4">最大优惠{{item.maximumDiscount}}元,</span>
          <span *ngIf="turnToBind(item.bindProduct)">仅限特殊商品使用</span>
          <span *ngIf="!turnToBind(item.bindProduct)">全品类商品使用</span>
        </span>
      </div>
    </div>
    <div class="couponOut" [hidden]="!effectiveList" *ngFor="let item of effectiveList">
      <!--满减-->
      <div class="couponImg couponUrlA" *ngIf="item.type === 1">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">满{{item.money}}减{{item.deductionMoney}}</span>
        </div>
      </div>
      <!--固定立减-->
      <div class="couponImg couponUrlB" *ngIf="item.type === 2">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">立减券</span>
        </div>
      </div>
      <!--折扣-->
      <div class="couponImg couponUrlC" *ngIf="item.type === 3">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">折扣券</span>
        </div>
      </div>
      <!--固定折扣-->
      <div class="couponImg couponUrlD" *ngIf="item.type === 4">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">固定折扣券</span>
          <!--最大优惠多少钱-->
        </div>
      </div>
      <!---->
      <div class="coupon_cont">
        <div class="coupon_name">
          <!--机器-->
          <img src="../../../../../assets/icon/couponMa.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 1">
          <img src="../../../../../assets/icon/couponMb.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 2">
          <img src="../../../../../assets/icon/couponMc.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 3">
          <img src="../../../../../assets/icon/couponMd.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 4">
          <!--商城-->
          <img src="../../../../../assets/icon/couponSa.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 1">
          <img src="../../../../../assets/icon/couponSb.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 2">
          <img src="../../../../../assets/icon/couponSc.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 3">
          <img src="../../../../../assets/icon/couponSd.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 4">
          {{item.name}}
          <span style="position: absolute;right: -16px;top: 13px;color: #333333">&times;{{item.quantity}}</span>
        </div>
        <span class="coupon_time">{{toDate(item.startTime)}}-{{toDate(item.endTime)}}</span>
        <span style="display: block">
          <span *ngIf="item.type === 4">最大优惠{{item.maximumDiscount}}元,</span>
          <span *ngIf="turnToBind(item.bindProduct)">仅限特殊商品使用</span>
          <span *ngIf="!turnToBind(item.bindProduct)">全品类商品使用</span>
        </span>
      </div>
    </div>

    <div class="footer">
      已经到底~
    </div>
  </div>
  <!--已过期-->
  <div *ngIf="overDue" class="layout">
    <div class="couponOut" [hidden]="!overDueList" *ngFor="let item of overDueList">
      <!--满减-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 1">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">满{{item.money}}减{{item.deductionMoney}}</span>
        </div>
      </div>
      <!--固定立减-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 2">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">立减券</span>
        </div>
      </div>
      <!--折扣-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 3">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">折扣券</span>
        </div>
      </div>
      <!--固定折扣-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 4">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">固定折扣券</span>
          <!--最大优惠多少钱-->
        </div>
      </div>
      <!---->
      <div class="coupon_cont">
        <div class="coupon_name">
          <!--机器-->
          <img src="../../../../../assets/icon/overDueVm.png" class="coupon_nameImg" *ngIf="item.useWhere === 1">
          <!--商城-->
          <img src="../../../../../assets/icon/overDueS.png" class="coupon_nameImg" *ngIf="item.useWhere === 2">
          {{item.name}}
          <img class="coupon_usedImg" src="../../../../../assets/icon/pastDue.png">
        </div>
        <span class="coupon_time">{{toDate(item.startTime)}}-{{toDate(item.endTime)}}</span>
        <span style="display: block">
          <span *ngIf="item.type === 4">最大优惠{{item.maximumDiscount}}元,</span>
          <span *ngIf="turnToBind(item.bindProduct)">仅限特殊商品使用</span>
          <span *ngIf="!turnToBind(item.bindProduct)">全品类商品使用</span>
        </span>
        <span style="position: absolute;right: 6px;top: 50%;margin-top: -9px;color: #333333">&times;{{item.quantity}}</span>
      </div>
    </div>
    <div class="footer">
      已经到底~
    </div>
  </div>
  <!--已使用-->
  <div *ngIf="used" class="layout">
    <div class="couponOut" [hidden]="!usedList" *ngFor="let item of usedList">
      <!--满减-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 1">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">满{{item.money}}减{{item.deductionMoney}}</span>
        </div>
      </div>
      <!--固定立减-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 2">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">立减券</span>
        </div>
      </div>
      <!--折扣-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 3">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">折扣券</span>
        </div>
      </div>
      <!--固定折扣-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 4">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">固定折扣券</span>
          <!--最大优惠多少钱-->
        </div>
      </div>
      <!---->
      <div class="coupon_cont">
        <div class="coupon_name">
          <!--机器-->
          <img src="../../../../../assets/icon/overDueVm.png" class="coupon_nameImg" *ngIf="item.useWhere === 1">
          <!--商城-->
          <img src="../../../../../assets/icon/overDueS.png" class="coupon_nameImg" *ngIf="item.useWhere === 2">
          {{item.name}}
          <img class="coupon_usedImg" src="../../../../../assets/icon/usedIcon.png">
        </div>
        <span class="coupon_time">{{toDate(item.startTime)}}-{{toDate(item.endTime)}}</span>
        <span style="display: block">
          <span *ngIf="item.type === 4">最大优惠{{item.maximumDiscount}}元,</span>
          <span *ngIf="turnToBind(item.bindProduct)">仅限特殊商品使用</span>
          <span *ngIf="!turnToBind(item.bindProduct)">全品类商品使用</span>
        </span>
        <span style="position: absolute;right: 6px;top: 50%;margin-top: -9px;color: #333333">&times;{{item.useQuantity}}</span>

      </div>
    </div>
    <div class="footer">
      已经到底~
    </div>
  </div>
</div>
