.user-container{
  height: 100%;
  width: 100%;
  background: rgba(82,94,113,.05);
  margin-bottom: 120px;
  /*background: url("../../../../assets/main/bs-bg.jpg");*/
  /*background-size: 150% 100%;*/
}
.container {
  width: 100%;
  padding-bottom: 104px;
}
.header{
  width: 100%;
  height: 120px;
  background: #1890ff;
}
.header-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 28px;
  left: 18px;
}
.header-span{
  color: white;
  position: absolute;
  top: 45px;
  left: 80px;
  font-size: 14px;
  padding-left: 10px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clear-fix{
  clear: both;
}
.customer-list{
  width: 100%;
  margin-bottom: 10px;
  background: #FFFFFF;
  border-top: #efefef 1px solid;
}
.customer-list li{
  width: 100%;
  padding:0px 15px;
  height: auto;
  /*height: 40px;
  line-height: 40px;*/
  border-bottom: #efefef 1px solid;
}
.customer-list li span{
  font-size: 16px;
  font-weight: 500;
  height: 25px;
  line-height: 25px;
  margin: 10px 0px;
  display: inline-block;
}
.customer-list li span i{
  font-size: 24px;
}
.icon-list1{
  background: url("../../../assets/icon/customerIcon/icon-list1.png") no-repeat;
  background-size: 25px 25px;
  padding-left: 40px !important;
}
.icon-list2{
  background: url("../../../assets/icon/customerIcon/icon-list2.png") no-repeat;
  background-size: 25px 25px;
  padding-left: 40px !important;
}
.icon-list3{
  background: url("../../../assets/icon/customerIcon/icon-list3.png") no-repeat 3px 0px;
  background-size: 19px 25px;
  padding-left: 40px !important;
}
.icon-list4{
  background: url("../../../assets/icon/customerIcon/icon-list4.png") no-repeat;
  background-size: 18px 25px;
  padding-left: 40px !important;
}
.icon-list5{
  background: url("../../../assets/icon/customerIcon/icon-list5.png") no-repeat 0px 3px;
  background-size: 25px 19px;
  padding-left: 40px !important;
}
.icon-list9{
  background: url("../../../assets/icon/customerIcon/icon-water.png") no-repeat;
  background-size: 25px 25px;
  padding-left: 40px !important;
}
.icon-list6{
  background: url("../../../assets/icon/customerIcon/icon-tel.png") no-repeat 2px 0px;
  background-size: 21px 25px;
  padding-left: 40px !important;
}
.icon-list7{
  background: url("../../../assets/icon/customerIcon/icon-gift.png") no-repeat;
  background-size: 25px 25px;
  padding-left: 40px !important;
}
.icon-list8{
  background: url("../../../assets/icon/customerIcon/icon-warn.png") no-repeat 0px 2px;
  background-size: 25px 21px;
  padding-left: 40px !important;
}
.icon-arrow{
  transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  background: url("../../../assets/icon/customerIcon/icon-arrow.png") no-repeat;
  background-size: 10px 15px;
  width: 18px;
  height: 15px;
  display: inline-block;
}
.am-list{
  padding-top: 0;
  padding-bottom: 10px;
}
.header-money {
  color: white;
  position: absolute;
  top: 76px;
  left: 80px;
  letter-spacing: 13px;
}
