<div class="user-container">
  <div class="header">
    <img *ngIf="headImgUrl !== ''; else imgTemplate" class="header-img" [src]="headImgUrl" alt="">
    <ng-template #imgTemplate>
      <img class="header-img" src="../../../../assets/main/logogaokao.png" alt="">
    </ng-template>
    <span class="header-span">{{nickName}}</span>
  </div>
  <ul class="customer-list">
    <li (click)="detail(1)">
      <span class="icon-list1 left">余额</span>
      <span class="right">{{userBalance}}元<!--<i class="icon-arrow"></i>--></span>
      <div class="clear-fix"></div>
    </li>
    <li>
      <span class="icon-list2 left">我的积分</span>
      <span class="right">{{integral}}分<!--<i class="icon-arrow"></i>--></span>
      <div class="clear-fix"></div>
    </li>
    <li (click)="detail(2)"><span class="icon-list3">我的订单</span></li>
    <!--<li (click)="detail(3)"><span class="icon-list4">我的存水</span></li>-->
  </ul>
  <ul class="customer-list">
    <li (click)="detail(4)"><span class="icon-list5">我的优惠券</span></li>
    <li (click)="detail(5)"><span class="icon-list9">我的提水券</span></li>
    <li (click)="detail(6)"><span class="icon-list6">联系客服</span></li>
    <li (click)="detail(7)"><span class="icon-list8">我的故障申报</span></li>
  </ul>
  <ul class="customer-list">
    <li (click)="detail(8)"><span class="icon-list7">推荐有奖</span></li>
    <li (click)="detail(9)"><span class="icon-list7">砍价免费拿</span></li>
  </ul>
  <!--<div class="am-list">
    <a class="am-list-item">
      <div (click)="detail(6)" class="am-list-content">余额</div>
      <span style="color: #666666">{{userMoney}}元</span>
      <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
    </a>
    <a class="am-list-item">
      <div class="am-list-content">我的积分</div>
      <span style="color: #666666">{{userIntegral}}分</span>
      <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
    </a>
    <a class="am-list-item">
      <div  class="am-list-content">我的订单</div>
      <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
    </a>
    <a class="am-list-item">
      <div (click)="detail(5)" class="am-list-content">我的存水</div>
      <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
    </a>
    &lt;!&ndash;<div class="am-list-body">&ndash;&gt;
      &lt;!&ndash;<div class="am-list-item">&ndash;&gt;
        &lt;!&ndash;<div class="am-list-content">标题文字</div>&ndash;&gt;
      &lt;!&ndash;</div>&ndash;&gt;
    &lt;!&ndash;</div>&ndash;&gt;
  </div>
  <div class="am-list">
    <div class="am-list-body">
      &lt;!&ndash;<a class="am-list-item" (click)="detail(1)">&ndash;&gt;
        &lt;!&ndash;<div class="am-list-content">我的套餐</div>&ndash;&gt;
        &lt;!&ndash;<div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>&ndash;&gt;
      &lt;!&ndash;</a>&ndash;&gt;
      <a class="am-list-item" (click)="detail(2)">
        <div class="am-list-content">我的优惠卷</div>
        <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
      </a>
      <a class="am-list-item" (click)="detail(8)">
        <div class="am-list-content">我的提水券</div>
        <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
      </a>
      <a class="am-list-item" (click)="detail(3)">
        <div class="am-list-content">我的购物车</div>
        <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
      </a>
      <a class="am-list-item" (click)="detail(4)">
        <div class="am-list-content">我的地址</div>
        <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
      </a>
      &lt;!&ndash;<a class="am-list-item" (click)="detail(5)">&ndash;&gt;
        &lt;!&ndash;<div class="am-list-content">管理账号</div>&ndash;&gt;
        &lt;!&ndash;<div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>&ndash;&gt;
      &lt;!&ndash;</a>&ndash;&gt;
    </div>
  </div>
  <div class="am-list">
    <div class="am-list-body">
      <a class="am-list-item" (click)="detail(7)">
        <div class="am-list-content">附近售货机</div>
        <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
      </a>
    </div>
  </div>-->
</div>
