<div id="user-container">
  <div class="guide">
    <span (click)="goTo()" class="guideIcon"><i class="anticon anticon-left"></i></span>
    订单详情
  </div>
  <div class="banner">
    <img src="../../../../assets/main/banner1.png" alt="" width="100%">
  </div>
  <div style="position: absolute;width: 100%;height: 40px;border-bottom: 1px solid #cccccc">
    <img src="../../../../assets/icon/dw5.png" alt="" style="width: 20px;position: absolute;top: 5px;left: 5px;">
    <div style="width: 100px;position: absolute;top: 2px;left: 35px">
      <p>网吧</p>
      <p>广州黄埔</p>
    </div>
    <span style="position: absolute;top: 2px;left: 110px">1341579685</span>
    <img style="position: absolute;top: 10px;left: 90%" src="../../../../assets/icon/right.png" alt="" width="20">
  </div>
  <div class="bargain-list">
    <div class="bargain-item">
      <img src="../../../../assets/main/banner1.png" alt="" width="85px" height="85px">
      <article style="margin-left: 5px">
        <p>【冬季暖心电器】热水机</p>
        <p style="margin-top: 15px;color: red;"> 数量；1</p>
        <p style="margin-top: 20px"> 邀请好友砍价免费拿，实付<span style="color: red">￥0免运费</span></p>
      </article>
    </div>
    <div style="background: white">
      <div style="margin-left: 5px">
        <p style="margin-top: 20px">订单编号：2138231741982</p>
        <p>支付方式：微信</p>
        <p>砍价开始时间：2018-12-16 10:11:57</p>
        <p>砍价结束时间：2018-12-16 10:11:57</p>
        <p>发货状态：wait</p>
      </div>
      <button class="bargain-details-button" (click)="to()">电话联系客服</button>
      <button class="bargain-details-button" (click)="to()">取消订单</button>
      <button class="bargain-pay-button" (click)="to()">支付</button>
    </div>
  </div>
</div>


