<!--<div class="user-container">-->
  <!--<div class="guide">-->
    <!--<span (click)="goTo()" class="guideIcon"><i class="anticon anticon-left"></i></span>-->
    <!--购买指南-->
  <!--</div>-->
  <!--<div class="guideGif">-->
    <!--<img src="../../../assets/icon/guideGif.gif">-->
  <!--</div>-->
<!--</div>-->
<div id="demo" class="carousel slide" data-ride="carousel" data-interval="4000">


  <!-- 轮播图片 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/main/one.gif">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/main/two.gif">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/main/three.gif">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/main/four.gif">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/main/five.jpg">
    </div>
  </div>


</div>
